# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Tests (not needed in production image)
tests/

# Misc
*.md

!README.md
!tests/
!tests/**